.appbar_Ul{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}
.appbar_Ul ul{
    display: flex;
    list-style: none;
}
.button_appbar{
    color: #ffff;
}

@media screen and (min-width: 823px) {
    .button_appbar{
        display: none;
    }
}

@media screen and (max-width: 823px) {
    .appbar_Ul ul{
        display: none;
    }
}

.appbar_Ul ul li{
    color: #fff;
    margin-left: 2rem;
    opacity: .5;
    cursor: pointer;
}

.title_appbar{
    color: #fff;   
    font-size: 1.2rem;
}

/* Drawer */

.drawer{
    z-index: 100;
    opacity: 0;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: red;
}
